.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #6abd68;
    padding: 20px;
    border-radius: 30px;
}

.input__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.input {
    border-radius: 10px;
    width: 250px;
    height: 30px;
    border-style: none;
}

.btn {
    width: 60px;
    align-items: center;
    border-radius: 20px;
    height: 30px;
    gap: 10px;
}

.lista__container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div__h2 {
    text-align: center;
    margin-bottom: 20px;
}

.lista__h2 {
    text-align: center;
}

.lista__ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #a7edaf;
    padding: 20px;
    border-radius: 30px;
}

.lista__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 16px;
    margin-top: 16px;
    background-color: #f7f5f5;
    border-radius: 20px;
}

.lista__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.lista__btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn__conta {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-style: none;
    border-radius: 20px;
    background-color: #a7edaf;
}

.btn__conta:hover {
    cursor: pointer;
    background-color: #bdf1c3;
    border-color: white;
    border-style: solid;
}

.selecConta {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-style: none;
    border-radius: 20px;
    background-color: #a7edaf;
}

.selecConta:hover {
    cursor: pointer;
    background-color: #bdf1c3;
    border-color: white;
    border-style: solid;
}

.selecConta__p {
    font-weight: 600;
}