.container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 6rem;
    justify-content: flex-start;
    align-items: flex-end;

}

.container__centauro {
    max-width: 350px;
    align-content: flex-end;
}

.centauro {
    box-shadow: rgba(4, 88, 4, 0.4) 5px 5px, rgba(9, 143, 27, 0.3) 10px 10px, rgba(86, 255, 95, 0.2) 15px 15px, rgba(17, 212, 50, 0.1) 20px 20px, rgba(58, 243, 74, 0.05) 25px 25px;
    border-radius: 30px;
}

.dash__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.saldo {
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-color: #408147;
    border-style: solid;
    border-width: 4px;
    max-width: 300px;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.saldo__title {
    font-weight: 600;
    font-size: larger;
}

.saldo__valor {
    font-size: large;
}

.content {
    display: flex;
    gap: 2rem;
}

.mov__container {
    background-color: #9EE37D;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 420px; 
}

.mov__title {
    font-size: medium;
    font-weight: 600;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #f7f5f5;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    margin-top: 8px;
    justify-content: space-between;
}

.movimentacoes {
}

.movimentacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    gap: 10px;
    font-size: medium;
}

.nome {

}

.data {

}

.valor {
    margin-bottom: 8px;
}

.metas__container {
    background-color: #5fb133;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 420px;
}

.lista__metas {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 6px;
    justify-content: space-between;
}

.metas__title {
    font-weight: 600;
}

.lista__card {
    background-color: #f7f5f5;
    padding: 16px;
    border-radius: 20px 0 20px 0;
}

.lista__info {
    text-align: left;
    font-size: 14px;
}

