.container_mov {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__container {
    background-color: #6abd68;
    display: flex;
    width: 30rem;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 30px;
    box-sizing: border-box;
}

.input__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

.input {
    border-radius: 10px;
    border-style: none;
    width: 250px;
    height: 30px;
}

.btn_mov {
    width: 100px;
    align-items: center;
    border-radius: 20px;
    border-style: none;
    height: 30px;
    gap: 10px;
    background-color: #a7edaf;
}

.btn_mov:hover {
    cursor: pointer;
    background-color: #ccf0d0;
    border-color: white;
    border-style: solid;
}

.lista__container {
    margin-top: 10px;
    background-color: #a7edaf;
    padding: 20px;
    border-radius: 30px;
}

.lista_mov {
    margin-top: 10px;
    background-color: #f7f5f5;
    padding: 20px;
    border-radius: 30px;
}

.lista__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.lista__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.lista__btn {
    display: flex;
    justify-content: center;
    gap: 16px;  
}